In [1220]:
import pandas as pd

In [1221]:
df = pd.read_csv('amazon.csv')

In [1222]:
df['price'] = df['price'].str.replace('[^\d.]', '', regex=True)
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['price'].dtype

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
/var/folders/d2/zqv2mpg17tzb0413h3b_jwb00000gn/T/ipykernel_52705/4135669244.py:1: SyntaxWarning: invalid escape sequence '\d'
  df['price'] = df['price'].str.replace('[^\d.]', '', regex=True)

dtype('float64')

In [1223]:
df['number_available_in_stock'] = df['number_available_in_stock'].str.replace('Â', '', regex=False)
df[['quantity', 'condition']] = df['number_available_in_stock'].str.split(n=1, expand=True)
df['quantity'] = pd.to_numeric(df['quantity'], errors='coerce')
df['condition'] = df['condition'].str.strip()
df['condition'] = df['condition'].fillna('Unknown')
df = df.drop('number_available_in_stock', axis=1)

In [1224]:
df['number_of_answered_questions'] = df['number_of_answered_questions'].fillna(0).astype(int)
df['number_of_answered_questions'] = df['number_of_answered_questions'].astype(int)

In [1225]:
df['number_of_answered_questions'].dtype

dtype('int64')

In [1226]:
df['average_review_rating'] = df['average_review_rating'].str.split().str[0].astype(float)

In [1227]:
df['average_review_rating']

0       4.9
1       4.5
2       3.9
3       5.0
4       4.7
       ...
9994    5.0
9995    4.0
9996    5.0
9997    5.0
9998    4.5
Name: average_review_rating, Length: 9999, dtype: float64

In [1228]:
df.to_csv('data.csv', index=False)

In [1229]:

import numpy as np

def split_review(text):
    if pd.isna(text) or not isinstance(text, str):
        return pd.Series([None, None, None, None])
    
    parts = text.split('//')
    review = parts[0].strip()
    rating = parts[1].strip() if len(parts) > 1 else None
    date = parts[2].strip() if len(parts) > 2 else None
    
    if len(parts) > 3:
        customer_date = parts[3].strip().split(' on ')
        customer = customer_date[0].replace('\n', '').strip()
        date = customer_date[1] if len(customer_date) > 1 else date
    else:
        customer = None
    customer = customer[2:].strip() if customer.startswith('By') else customer

    return pd.Series([review, rating, date, customer])

df[['review_text', 'rating', 'date', 'customer_name']] = df['customer_reviews'].apply(split_review)
df = df.drop('customer_reviews', axis=1)

In [1230]:
df.to_csv('data.csv', index=False)

In [1231]:
df['description'].tail(5)

9994    DC 66 Batman Classic TV Series 6 Inch Riddler ...
9995                                                  NaN
9996    *Includes 1x Badge with holder and chain *High...
9997    Designed by Ed BenesIt's here - the third seri...
9998                                                  NaN
Name: description, dtype: object

In [1232]:
df = df.drop('description', axis =1)

In [1233]:
df.to_csv('data.csv', index= False)

In [1234]:
# Combine the columns, using product_information if available, otherwise use product_description
df['description'] = df['product_information'].fillna(df['product_description'])

# If you want to use both, concatenating them when both are available:
df['description'] = df['product_information'].fillna('') + ' ' + df['product_description'].fillna('')
df['description'] = df['description'].str.strip()

# Remove the original columns
df = df.drop(['product_information', 'product_description'], axis=1)

In [1235]:
df.to_csv('data.csv', index= False)

In [1236]:

df['category_list'] = df['amazon_category_and_sub_category'].str.split('>')


df['category'] = df['category_list'].str[0].str.strip()
df['sub_category_1'] = df['category_list'].str[1].str.strip()
df['sub_category_2'] = df['category_list'].str[2].str.strip()
df['sub_category_3'] = df['category_list'].str[3].str.strip()


df = df.drop('category_list', axis=1)

In [1237]:
df['category']

0                     Hobbies
1                     Hobbies
2                     Hobbies
3                     Hobbies
4                     Hobbies
                ...
9994                  Hobbies
9995      Characters & Brands
9996    Novelty & Special Use
9997                  Hobbies
9998      Characters & Brands
Name: category, Length: 9999, dtype: object

In [1238]:
print(df['sub_category_2'].head())

0    Rail Vehicles
1    Rail Vehicles
2    Rail Vehicles
3    Rail Vehicles
4    Rail Vehicles
Name: sub_category_2, dtype: object

In [1239]:
print(df.head())

                            uniq_id  \
0  eac7efa5dbd3d667f26eb3d3ab504464
1  b17540ef7e86e461d37f3ae58b7b72ac
2  348f344247b0c1a935b1223072ef9d8a
3  e12b92dbb8eaee78b22965d2a9bbbd9f
4  e33a9adeed5f36840ccc227db4682a36

                                        product_name manufacturer  price  \
0                              Hornby 2014 Catalogue       Hornby   3.42
1  FunkyBuys® Large Christmas Holiday Express Fes...    FunkyBuys  16.99
2  CLASSIC TOY TRAIN SET TRACK CARRIAGES LIGHT EN...          ccf   9.99
3     HORNBY Coach R4410A BR Hawksworth Corridor 3rd       Hornby  39.99
4  Hornby 00 Gauge 0-4-0 Gildenlow Salt Co. Steam...       Hornby  32.19

  purchase_date   ship_date   ship_country number_of_reviews  \
0      6/4/2018   6/14/2018  United States                15
1     8/30/2022    9/2/2022  United States                 2
2      8/4/2020    8/6/2020  United States                17
3    10/27/2020  10/30/2020  United States                 1
4      2/3/2018    2/4/2018  United States                 3

   number_of_answered_questions  average_review_rating  ... condition  \
0                             1                    4.9  ...       new
1                             1                    4.5  ...   Unknown
2                             2                    3.9  ...       new
3                             2                    5.0  ...   Unknown
4                             2                    4.7  ...   Unknown

                                     review_text rating           date  \
0  Worth Buying For The Pictures Alone (As Ever)    4.0   6 April 2014
1                                     Four Stars    4.0   18 Dec. 2015
2                        **Highly Recommended!**    5.0    26 May 2015
3                                      I love it    5.0   22 July 2013
4                               Birthday present    5.0  14 April 2014

   customer_name                                        description category  \
0    Copnovelist  Technical Details Item Weight640 g Product Dim...  Hobbies
1   kenneth bell  Technical Details Manufacturer recommended age...  Hobbies
2    Simon.B :-)  Technical Details Manufacturer recommended age...  Hobbies
3   Lilla Lukacs  Technical Details Item Weight259 g Product Dim...  Hobbies
4    Love my Dog  Technical Details Item Weight159 g Product Dim...  Hobbies

                sub_category_1 sub_category_2 sub_category_3
0  Model Trains & Railway Sets  Rail Vehicles         Trains
1  Model Trains & Railway Sets  Rail Vehicles         Trains
2  Model Trains & Railway Sets  Rail Vehicles         Trains
3  Model Trains & Railway Sets  Rail Vehicles         Trains
4  Model Trains & Railway Sets  Rail Vehicles         Trains

[5 rows x 25 columns]

In [1240]:
df = pd.read_csv('amazon.csv')

In [1241]:
df['number_available_in_stock'].fillna(0, inplace=True)
print(df['number_available_in_stock'])

0        5 new
1            0
2        2 new
3            0
4            0
         ...
9994     5 new
9995         0
9996     3 new
9997     3 new
9998    31 new
Name: number_available_in_stock, Length: 9999, dtype: object

/var/folders/d2/zqv2mpg17tzb0413h3b_jwb00000gn/T/ipykernel_52705/313368633.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['number_available_in_stock'].fillna(0, inplace=True)

In [1242]:
df['quantity'] = df['number_available_in_stock'].str.extract(r'^(\d+)').fillna(0).astype(int)
df['condition'] = df['number_available_in_stock'].str.extract(r'\s(.*)')  # Extract condition if it exists
df['condition'].fillna('', inplace=True)  # Fill NaN with empty string for rows with no condition

/var/folders/d2/zqv2mpg17tzb0413h3b_jwb00000gn/T/ipykernel_52705/2756258389.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['condition'].fillna('', inplace=True)  # Fill NaN with empty string for rows with no condition

In [1243]:
print(df[['quantity', 'condition']])

      quantity condition
0            5       new
1            0
2            2       new
3            0
4            0
...        ...       ...
9994         5       new
9995         0
9996         3       new
9997         3       new
9998        31       new

[9999 rows x 2 columns]

In [1244]:
df['condition'].unique()

array(['new', '', 'used', 'collectible', 'refurbished'], dtype=object)

In [1245]:
unique_countries = df['ship_country'].drop_duplicates().reset_index(drop=True)
unique_countries = pd.DataFrame(unique_countries, columns=['ship_country'])
unique_countries['country_id'] = unique_countries.index + 1  # Generate unique IDs starting from 1

# Create a country ID mapping
country_mapping = dict(zip(unique_countries['ship_country'], unique_countries['country_id']))

# Update product data
df['country_id'] = df['ship_country'].map(country_mapping)
df = df.drop(columns=['ship_country'])

# Save the updated product DataFrame
#df.to_csv('products_updated.csv', index=False)
print(unique_countries)

     ship_country  country_id
0   United States           1
1          Canada           2
2       Australia           3
3  United Kingdom           4
4         Germany           5
5          France           6

In [1246]:
d_countries = unique_countries
d_countries.rename(columns={'ship_country': 'country_name'}, inplace=True)

In [1247]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 21 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   uniq_id                                      9999 non-null   object
 1   product_name                                 9999 non-null   object
 2   manufacturer                                 9992 non-null   object
 3   price                                        8565 non-null   object
 4   purchase_date                                9999 non-null   object
 5   ship_date                                    9999 non-null   object
 6   number_available_in_stock                    9999 non-null   object
 7   number_of_reviews                            9981 non-null   object
 8   number_of_answered_questions                 9234 non-null   float64
 9   average_review_rating                        9981 non-null   object
 10  amazon_category_and_sub_category             9309 non-null   object
 11  customers_who_bought_this_item_also_bought   8937 non-null   object
 12  description                                  9348 non-null   object
 13  product_information                          9941 non-null   object
 14  product_description                          9348 non-null   object
 15  items_customers_buy_after_viewing_this_item  6934 non-null   object
 16  customer_questions_and_answers               913 non-null    object
 17  customer_reviews                             9978 non-null   object
 18  quantity                                     9999 non-null   int64
 19  condition                                    9999 non-null   object
 20  country_id                                   9999 non-null   int64
dtypes: float64(1), int64(2), object(18)
memory usage: 1.6+ MB
None

In [1248]:
def split_questions_and_answers(row):
    if isinstance(row['customer_questions_and_answers'], str):
        qa_pairs = row['customer_questions_and_answers'].split(' | ')
        product_id = row['uniq_id']
        return [{'product_id': product_id, 'question': qa.split(' // ')[0].strip(), 'answer': qa.split(' // ')[1].strip()} for qa in qa_pairs]
    else:
        return None

# Apply the function to each row in the DataFrame
qa_list = df.apply(split_questions_and_answers, axis=1).dropna().tolist()

# Flatten the list of dictionaries into a DataFrame
new_df = pd.DataFrame([item for sublist in qa_list for item in sublist])

# Add the question_id column
new_df['question_id'] = range(1, len(new_df) + 1)

print(new_df.info())
d_questions = new_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1677 entries, 0 to 1676
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   product_id   1677 non-null   object
 1   question     1677 non-null   object
 2   answer       1677 non-null   object
 3   question_id  1677 non-null   int64
dtypes: int64(1), object(3)
memory usage: 52.5+ KB
None

In [1249]:
print(df[['uniq_id', 'amazon_category_and_sub_category']])

                               uniq_id  \
0     eac7efa5dbd3d667f26eb3d3ab504464
1     b17540ef7e86e461d37f3ae58b7b72ac
2     348f344247b0c1a935b1223072ef9d8a
3     e12b92dbb8eaee78b22965d2a9bbbd9f
4     e33a9adeed5f36840ccc227db4682a36
...                                ...
9994  44d6967f083825a5de36ad4865a65bcd
9995  08f0747b6fc6687215ffb994c3a6fb32
9996  bf6cc073f8f24e6e338190fa16f6ee9d
9997  cd783d0b8b44e631b9788b203eaaefae
9998  94d18e86e504bee1e392df7e5738b18a

                       amazon_category_and_sub_category
0     Hobbies > Model Trains & Railway Sets > Rail V...
1     Hobbies > Model Trains & Railway Sets > Rail V...
2     Hobbies > Model Trains & Railway Sets > Rail V...
3     Hobbies > Model Trains & Railway Sets > Rail V...
4     Hobbies > Model Trains & Railway Sets > Rail V...
...                                                 ...
9994  Hobbies > Collectible Figures & Memorabilia > ...
9995             Characters & Brands > Star Wars > Toys
9996  Novelty & Special Use > Novelty > Accessories ...
9997  Hobbies > Collectible Figures & Memorabilia > ...
9998             Characters & Brands > Star Wars > Toys

[9999 rows x 2 columns]

In [1250]:
df[['Category', 'Sub_Category', 'Sub_Sub_Category', 'Sub_Sub_Sub_Category']] = df['amazon_category_and_sub_category'].str.split(' > ', expand=True, n=3)

# Create unique identifiers for subcategories
df['Sub_Category_ID'] = df['Sub_Category'].factorize()[0] + 1
df['Sub_Sub_Category_ID'] = df['Sub_Sub_Category'].factorize()[0] + 1
df['Sub_Sub_Sub_Category_ID'] = df['Sub_Sub_Sub_Category'].factorize()[0] + 1

# Create d_category DataFrame
d_category = df[['uniq_id', 'Category']].drop_duplicates().reset_index(drop=True)
d_category.rename(columns={'uniq_id': 'product_id'}, inplace=True)

# Create d_sub_category DataFrame
d_sub_category = df[['uniq_id', 'Sub_Category', 'Sub_Sub_Category', 'Sub_Sub_Sub_Category']].drop_duplicates().reset_index(drop=True)
d_sub_category.rename(columns={'uniq_id': 'product_id'}, inplace=True)
d_sub_category['id'] = d_sub_category.index + 1  # Add a primary key column

# Display the new DataFrames
print("d_category DataFrame:")
print(d_category)
print("\nd_sub_category DataFrame:")
print(d_sub_category)

d_category DataFrame:
                            product_id               Category
0     eac7efa5dbd3d667f26eb3d3ab504464                Hobbies
1     b17540ef7e86e461d37f3ae58b7b72ac                Hobbies
2     348f344247b0c1a935b1223072ef9d8a                Hobbies
3     e12b92dbb8eaee78b22965d2a9bbbd9f                Hobbies
4     e33a9adeed5f36840ccc227db4682a36                Hobbies
...                                ...                    ...
9994  44d6967f083825a5de36ad4865a65bcd                Hobbies
9995  08f0747b6fc6687215ffb994c3a6fb32    Characters & Brands
9996  bf6cc073f8f24e6e338190fa16f6ee9d  Novelty & Special Use
9997  cd783d0b8b44e631b9788b203eaaefae                Hobbies
9998  94d18e86e504bee1e392df7e5738b18a    Characters & Brands

[9999 rows x 2 columns]

d_sub_category DataFrame:
                            product_id                       Sub_Category  \
0     eac7efa5dbd3d667f26eb3d3ab504464        Model Trains & Railway Sets
1     b17540ef7e86e461d37f3ae58b7b72ac        Model Trains & Railway Sets
2     348f344247b0c1a935b1223072ef9d8a        Model Trains & Railway Sets
3     e12b92dbb8eaee78b22965d2a9bbbd9f        Model Trains & Railway Sets
4     e33a9adeed5f36840ccc227db4682a36        Model Trains & Railway Sets
...                                ...                                ...
9994  44d6967f083825a5de36ad4865a65bcd  Collectible Figures & Memorabilia
9995  08f0747b6fc6687215ffb994c3a6fb32                          Star Wars
9996  bf6cc073f8f24e6e338190fa16f6ee9d                            Novelty
9997  cd783d0b8b44e631b9788b203eaaefae  Collectible Figures & Memorabilia
9998  94d18e86e504bee1e392df7e5738b18a                          Star Wars

                     Sub_Sub_Category Sub_Sub_Sub_Category    id
0                       Rail Vehicles               Trains     1
1                       Rail Vehicles               Trains     2
2                       Rail Vehicles               Trains     3
3                       Rail Vehicles               Trains     4
4                       Rail Vehicles               Trains     5
...                               ...                  ...   ...
9994  Collectible Props & Memorabilia                 None  9995
9995                             Toys                 None  9996
9996                      Accessories       Buttons & Pins  9997
9997  Collectible Props & Memorabilia                 None  9998
9998                             Toys                 None  9999

[9999 rows x 5 columns]

In [1251]:
df.columns

Index(['uniq_id', 'product_name', 'manufacturer', 'price', 'purchase_date',
       'ship_date', 'number_available_in_stock', 'number_of_reviews',
       'number_of_answered_questions', 'average_review_rating',
       'amazon_category_and_sub_category',
       'customers_who_bought_this_item_also_bought', 'description',
       'product_information', 'product_description',
       'items_customers_buy_after_viewing_this_item',
       'customer_questions_and_answers', 'customer_reviews', 'quantity',
       'condition', 'country_id', 'Category', 'Sub_Category',
       'Sub_Sub_Category', 'Sub_Sub_Sub_Category', 'Sub_Category_ID',
       'Sub_Sub_Category_ID', 'Sub_Sub_Sub_Category_ID'],
      dtype='object')

In [1252]:
unique_categories = df['Category'].unique()
d_categories1 = pd.DataFrame(unique_categories, columns=['category'])

# Step 2: Assign category_id starting from 1
d_categories1['category_id'] = range(1, len(d_categories1) + 1)

# Optional: Reset index if needed
d_categories1.reset_index(drop=True, inplace=True)

d_categories1

                            category  category_id
0                            Hobbies            1
1                                NaN            2
2                Characters & Brands            3
3                        Fancy Dress            4
4                               Bags            5
5                      Arts & Crafts            6
6           Handbags & Shoulder Bags            7
7                              Games            8
8                 Figures & Playsets            9
9                   Home Accessories           10
10           Sweets, Chocolate & Gum           11
11             Sports Toys & Outdoor           12
12           Die-Cast & Toy Vehicles           13
13               Baby & Toddler Toys           14
14   Storage, Cleaning & Ring Sizers           15
15                  Bedding & Linens           16
16                   Office Supplies           17
17                    Party Supplies           18
18                  Camping & Hiking           19
19                      Pretend Play           20
20                             Women           21
21                   Electronic Toys           22
22                         Car Parts           23
23               Dolls & Accessories           24
24                   Indoor Lighting           25
25                  Educational Toys           26
26   Laundry, Storage & Organisation           27
27                  Supporters' Gear           28
28             Jams, Honey & Spreads           29
29             Novelty & Special Use           30
30           Musical Toy Instruments           31
31                               Men           32
32                  Sex & Sensuality           33
33                  Cooking & Dining           34
34             Medication & Remedies           35
35         Puppets & Puppet Theatres           36
36                 Jigsaws & Puzzles           37
37                              Dogs           38
38      Medical Supplies & Equipment           39
39  Pens, Pencils & Writing Supplies           40
40                      Worlds Apart           41
41                         Gardening           42
42         Lab & Scientific Products           43
43                 Novelty Jewellery           44

In [1253]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 28 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   uniq_id                                      9999 non-null   object
 1   product_name                                 9999 non-null   object
 2   manufacturer                                 9992 non-null   object
 3   price                                        8565 non-null   object
 4   purchase_date                                9999 non-null   object
 5   ship_date                                    9999 non-null   object
 6   number_available_in_stock                    9999 non-null   object
 7   number_of_reviews                            9981 non-null   object
 8   number_of_answered_questions                 9234 non-null   float64
 9   average_review_rating                        9981 non-null   object
 10  amazon_category_and_sub_category             9309 non-null   object
 11  customers_who_bought_this_item_also_bought   8937 non-null   object
 12  description                                  9348 non-null   object
 13  product_information                          9941 non-null   object
 14  product_description                          9348 non-null   object
 15  items_customers_buy_after_viewing_this_item  6934 non-null   object
 16  customer_questions_and_answers               913 non-null    object
 17  customer_reviews                             9978 non-null   object
 18  quantity                                     9999 non-null   int64
 19  condition                                    9999 non-null   object
 20  country_id                                   9999 non-null   int64
 21  Category                                     9309 non-null   object
 22  Sub_Category                                 9309 non-null   object
 23  Sub_Sub_Category                             5386 non-null   object
 24  Sub_Sub_Sub_Category                         1397 non-null   object
 25  Sub_Category_ID                              9999 non-null   int64
 26  Sub_Sub_Category_ID                          9999 non-null   int64
 27  Sub_Sub_Sub_Category_ID                      9999 non-null   int64
dtypes: float64(1), int64(5), object(22)
memory usage: 2.1+ MB

In [1254]:
print(d_category)

                            product_id               Category
0     eac7efa5dbd3d667f26eb3d3ab504464                Hobbies
1     b17540ef7e86e461d37f3ae58b7b72ac                Hobbies
2     348f344247b0c1a935b1223072ef9d8a                Hobbies
3     e12b92dbb8eaee78b22965d2a9bbbd9f                Hobbies
4     e33a9adeed5f36840ccc227db4682a36                Hobbies
...                                ...                    ...
9994  44d6967f083825a5de36ad4865a65bcd                Hobbies
9995  08f0747b6fc6687215ffb994c3a6fb32    Characters & Brands
9996  bf6cc073f8f24e6e338190fa16f6ee9d  Novelty & Special Use
9997  cd783d0b8b44e631b9788b203eaaefae                Hobbies
9998  94d18e86e504bee1e392df7e5738b18a    Characters & Brands

[9999 rows x 2 columns]

In [1255]:
df['manufacturer'].replace({None: 'Unknown', '': 'Unknown'}, inplace=True)

# Drop duplicates and keep only unique manufacturers
unique_manufacturers = df['manufacturer'].drop_duplicates().reset_index(drop=True)

# Create a new DataFrame with manufacturer_id
d_manufacturers = pd.DataFrame({
    'manufacturer_id': range(1, len(unique_manufacturers) + 1),
    'manufacturer_name': unique_manufacturers
})

# Print the new DataFrame
print(d_manufacturers)

/var/folders/d2/zqv2mpg17tzb0413h3b_jwb00000gn/T/ipykernel_52705/2172223898.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['manufacturer'].replace({None: 'Unknown', '': 'Unknown'}, inplace=True)

      manufacturer_id manufacturer_name
0                   1            Hornby
1                   2         FunkyBuys
2                   3               ccf
3                   4           Generic
4                   5       Chuggington
...               ...               ...
2646             2647          Feldherr
2647             2648               GGS
2648             2649   Captain america
2649             2650           IronMan
2650             2651      Super Heroes

[2651 rows x 2 columns]

In [1256]:
print(df['manufacturer'].unique())

['Hornby' 'FunkyBuys' 'ccf' ... 'Captain america' 'IronMan' 'Super Heroes']

In [1257]:
unique_manufacturers = df['manufacturer'].drop_duplicates().reset_index(drop=True)
unique_manufacturers = pd.DataFrame(unique_manufacturers, columns=['manufacturer_name'])

In [1258]:
print(df['customer_reviews'])

0       Worth Buying For The Pictures Alone (As Ever) ...
1       Four Stars // 4.0 // 18 Dec. 2015 // By\n    \...
2       **Highly Recommended!** // 5.0 // 26 May 2015 ...
3       I love it // 5.0 // 22 July 2013 // By\n    \n...
4       Birthday present // 5.0 // 14 April 2014 // By...
                              ...
9994    Realistic // 5.0 // 31 Mar. 2014 // By\n    \n...
9995    ... what I see my grandson us going to have fu...
9996    Five Stars // 5.0 // 18 Dec. 2015 // By\n    \...
9997    The best sculpt in a while // 5.0 // 13 May 20...
9998    Gold leader // 5.0 // 31 Aug. 2015 // By\n    ...
Name: customer_reviews, Length: 9999, dtype: object

In [1259]:
import re

In [1260]:
def parse_review(review):
    if not isinstance(review, str):
        return pd.Series([None, None, None, None])
    
    # Improved regex to better capture author details
    match = re.match(r'(.+?) // (\d+\.\d+) // (\d{1,2} \w+ \d{4}) // By\s*(.+?)(?:\n|$)', review, re.DOTALL)
    if match:
        review_text, rating, date, author = match.groups()
        return pd.Series([review_text.strip(), float(rating), date.strip(), author.strip()])
    else:
        return pd.Series([None, None, None, None])

# Convert all entries to strings
df['customer_reviews'] = df['customer_reviews'].astype(str)

# Apply function to the DataFrame
d_reviews = df['customer_reviews'].apply(parse_review)
d_reviews.columns = ['review', 'rating', 'review_date', 'author']

# Add product_id column to d_reviews
d_reviews['product_id'] = df['uniq_id']
d_reviews['review_date'] = pd.to_datetime(d_reviews['review_date'], format='%d %B %Y', errors='coerce')

print(d_reviews)

                                             review  rating review_date  \
0     Worth Buying For The Pictures Alone (As Ever)     4.0  2014-04-06
1                                              None     NaN         NaT
2                           **Highly Recommended!**     5.0  2015-05-26
3                                         I love it     5.0  2013-07-22
4                                  Birthday present     5.0  2014-04-14
...                                             ...     ...         ...
9994                                           None     NaN         NaT
9995                                           None     NaN         NaT
9996                                           None     NaN         NaT
9997                     The best sculpt in a while     5.0  2010-05-13
9998                                           None     NaN         NaT

            author                        product_id
0      Copnovelist  eac7efa5dbd3d667f26eb3d3ab504464
1             None  b17540ef7e86e461d37f3ae58b7b72ac
2      Simon.B :-)  348f344247b0c1a935b1223072ef9d8a
3     Lilla Lukacs  e12b92dbb8eaee78b22965d2a9bbbd9f
4      Love my Dog  e33a9adeed5f36840ccc227db4682a36
...            ...                               ...
9994          None  44d6967f083825a5de36ad4865a65bcd
9995          None  08f0747b6fc6687215ffb994c3a6fb32
9996          None  bf6cc073f8f24e6e338190fa16f6ee9d
9997     Sodam Yat  cd783d0b8b44e631b9788b203eaaefae
9998          None  94d18e86e504bee1e392df7e5738b18a

[9999 rows x 5 columns]

In [1261]:
from textblob import TextBlob

def get_sentiment(review):
    review = str(review)
    analysis = TextBlob(review)
    return analysis.sentiment.polarity

d_reviews1 = pd.DataFrame({
    'review_id': range(1, len(d_reviews) + 1),
    'product_id': d_reviews['product_id'],
    'review': d_reviews['review'],
    'rating': d_reviews['rating'],
    'customer_id': d_reviews['author'].astype('category').cat.codes+1,
    'review_date': d_reviews['review_date'],
    'sentiment_score': d_reviews['review'].apply(get_sentiment)

})

d_reviews1['customer_id'] = d_reviews1['customer_id'] + 1

In [1262]:
d_reviews1[['review', 'sentiment_score']].sort_values(by='sentiment_score', ascending=False)

                                                 review  sentiment_score
2182                                     Excellent toy!            1.000
3873                                          Excellent            1.000
7457                                         excellent.            1.000
3683                   Excellent but not for beginners.            1.000
7543                                            awesome            1.000
...                                                 ...              ...
9338           and my grandson was hugely disappointed.           -0.750
9301                                       disappointed           -0.750
2681  Match Attax 2012/2013 Topps - 17 Base Card TEA...           -0.800
1369                                  Very Disappointed           -0.975
7038                                   Beware the base!           -1.000

[9999 rows x 2 columns]

In [1263]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 28 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   uniq_id                                      9999 non-null   object
 1   product_name                                 9999 non-null   object
 2   manufacturer                                 9999 non-null   object
 3   price                                        8565 non-null   object
 4   purchase_date                                9999 non-null   object
 5   ship_date                                    9999 non-null   object
 6   number_available_in_stock                    9999 non-null   object
 7   number_of_reviews                            9981 non-null   object
 8   number_of_answered_questions                 9234 non-null   float64
 9   average_review_rating                        9981 non-null   object
 10  amazon_category_and_sub_category             9309 non-null   object
 11  customers_who_bought_this_item_also_bought   8937 non-null   object
 12  description                                  9348 non-null   object
 13  product_information                          9941 non-null   object
 14  product_description                          9348 non-null   object
 15  items_customers_buy_after_viewing_this_item  6934 non-null   object
 16  customer_questions_and_answers               913 non-null    object
 17  customer_reviews                             9999 non-null   object
 18  quantity                                     9999 non-null   int64
 19  condition                                    9999 non-null   object
 20  country_id                                   9999 non-null   int64
 21  Category                                     9309 non-null   object
 22  Sub_Category                                 9309 non-null   object
 23  Sub_Sub_Category                             5386 non-null   object
 24  Sub_Sub_Sub_Category                         1397 non-null   object
 25  Sub_Category_ID                              9999 non-null   int64
 26  Sub_Sub_Category_ID                          9999 non-null   int64
 27  Sub_Sub_Sub_Category_ID                      9999 non-null   int64
dtypes: float64(1), int64(5), object(22)
memory usage: 2.1+ MB
None

In [1264]:
df['quantity'].unique()

array([ 5,  0,  2,  3,  4,  1,  6, 18, 12, 26, 37, 35, 22, 11, 16, 31,  9,
       29, 33,  7, 15, 13, 19, 27, 10, 39, 23, 38,  8, 17, 34, 30, 21, 14,
       32, 20, 43, 25, 24, 41, 47, 73, 58, 49, 36, 72, 40, 28, 69, 44, 55,
       56, 52, 71, 86, 60, 92, 65, 74, 50, 63, 78, 51, 53, 64, 48, 57, 42,
       46, 54, 59, 66, 45, 62, 70])

In [1265]:
# Create d_customers DataFrame
d_customers = pd.DataFrame({'author': d_reviews['author'].unique()})
d_customers['customer_id'] = range(1, len(d_customers) + 1)

print(d_customers.head())

         author  customer_id
0   Copnovelist            1
1          None            2
2   Simon.B :-)            3
3  Lilla Lukacs            4
4   Love my Dog            5

In [1266]:
d_customers.rename(columns={'author': 'customer_name'}, inplace=True)

In [1267]:
print(d_customers)

                                     customer_name  customer_id
0                                      Copnovelist            1
1                                             None            2
2                                      Simon.B :-)            3
3                                     Lilla Lukacs            4
4                                      Love my Dog            5
...                                            ...          ...
3242                                         fumps         3243
3243                                          Robo         3244
3244  Margie Greyvenstein author of  'Masked Gods'         3245
3245                                        Jay B.         3246
3246                                     Sodam Yat         3247

[3247 rows x 2 columns]

In [1268]:
d_reviews.columns

Index(['review', 'rating', 'review_date', 'author', 'product_id'], dtype='object')

In [1269]:
conditions = pd.DataFrame({'condition': df['condition'].unique()})
conditions['condition_id'] = range(1, len(conditions) + 1)

# Print the DataFrame
print(conditions.head())

     condition  condition_id
0          new             1
1                          2
2         used             3
3  collectible             4
4  refurbished             5

In [1270]:
d_conditions = conditions

In [1271]:
import sqlalchemy
import pymysql

print(f"SQLAlchemy version: {sqlalchemy.__version__}")
print(f"PyMySQL version: {pymysql.__version__}")

SQLAlchemy version: 2.0.31
PyMySQL version: 1.4.6

In [1272]:
print(d_customers)

                                     customer_name  customer_id
0                                      Copnovelist            1
1                                             None            2
2                                      Simon.B :-)            3
3                                     Lilla Lukacs            4
4                                      Love my Dog            5
...                                            ...          ...
3242                                         fumps         3243
3243                                          Robo         3244
3244  Margie Greyvenstein author of  'Masked Gods'         3245
3245                                        Jay B.         3246
3246                                     Sodam Yat         3247

[3247 rows x 2 columns]

In [1273]:
df

,uniq_id,product_name,manufacturer,price,purchase_date,ship_date,number_available_in_stock,number_of_reviews,number_of_answered_questions,average_review_rating,...,quantity,condition,country_id,Category,Sub_Category,Sub_Sub_Category,Sub_Sub_Sub_Category,Sub_Category_ID,Sub_Sub_Category_ID,Sub_Sub_Sub_Category_ID
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Hornby,£3.42,6/4/2018,6/14/2018,5 new,15,1.0,4.9 out of 5 stars,...,5,new,1,Hobbies,Model Trains & Railway Sets,Rail Vehicles,Trains,1,1,1
1,b17540ef7e86e461d37f3ae58b7b72ac,FunkyBuys® Large Christmas Holiday Express Fes...,FunkyBuys,£16.99,8/30/2022,9/2/2022,0,2,1.0,4.5 out of 5 stars,...,0,,1,Hobbies,Model Trains & Railway Sets,Rail Vehicles,Trains,1,1,1
2,348f344247b0c1a935b1223072ef9d8a,CLASSIC TOY TRAIN SET TRACK CARRIAGES LIGHT EN...,ccf,£9.99,8/4/2020,8/6/2020,2 new,17,2.0,3.9 out of 5 stars,...,2,new,1,Hobbies,Model Trains & Railway Sets,Rail Vehicles,Trains,1,1,1
3,e12b92dbb8eaee78b22965d2a9bbbd9f,HORNBY Coach R4410A BR Hawksworth Corridor 3rd,Hornby,£39.99,10/27/2020,10/30/2020,0,1,2.0,5.0 out of 5 stars,...,0,,1,Hobbies,Model Trains & Railway Sets,Rail Vehicles,Trains,1,1,1
4,e33a9adeed5f36840ccc227db4682a36,Hornby 00 Gauge 0-4-0 Gildenlow Salt Co. Steam...,Hornby,£32.19,2/3/2018,2/4/2018,0,3,2.0,4.7 out of 5 stars,...,0,,1,Hobbies,Model Trains & Railway Sets,Rail Vehicles,Trains,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,44d6967f083825a5de36ad4865a65bcd,Batman 1966 TV Series Action Figures - The Rid...,Mattel,£22.95,6/6/2016,6/15/2016,5 new,3,3.0,5.0 out of 5 stars,...,5,new,6,Hobbies,Collectible Figures & Memorabilia,Collectible Props & Memorabilia,None,29,13,0
9995,08f0747b6fc6687215ffb994c3a6fb32,"Star Wars Costume, Kids Stormtrooper Costume S...",Star Wars,£39.99,8/28/2016,8/30/2016,0,1,3.0,4.0 out of 5 stars,...,0,,6,Characters & Brands,Star Wars,Toys,None,4,5,0
9996,bf6cc073f8f24e6e338190fa16f6ee9d,Defiance Lawkeeper Metal Badge Prop Replica,Olde Scotland Yard Ltd.,£43.99,7/19/2016,7/24/2016,3 new,1,3.0,5.0 out of 5 stars,...,3,new,6,Novelty & Special Use,Novelty,Accessories,Buttons & Pins,67,3,21
9997,cd783d0b8b44e631b9788b203eaaefae,Justice League of America Series 3 Green Lante...,DC Comics,£49.81,1/31/2016,2/5/2016,3 new,1,3.0,5.0 out of 5 stars,...,3,new,6,Hobbies,Collectible Figures & Memorabilia,Collectible Props & Memorabilia,None,29,13,0
9998,94d18e86e504bee1e392df7e5738b18a,Star Wars 1/72 Y-Wing Starfighter,Bandai,£21.20,10/8/2016,10/11/2016,31 new,11,3.0,4.5 out of 5 stars,...,31,new,6,Characters & Brands,Star Wars,Toys,None,4,5,0

In [1274]:
d_conditions

     condition  condition_id
0          new             1
1                          2
2         used             3
3  collectible             4
4  refurbished             5

In [1275]:
def convert_to_timestamp(timestamp):
    try:
        # Adjust the format to match 'M/D/YYYY'
        dt = datetime.strptime(timestamp, '%m/%d/%Y')
        return dt.strftime('%Y-%m-%d')
    except Exception as e:
        # Log or print the error message if needed
        print(f"Error converting timestamp: {e}")
        return None

category_to_id = d_categories1.set_index('category')['category_id'].to_dict()
manufacturer_to_id = d_manufacturers.set_index('manufacturer_name')['manufacturer_id'].to_dict()
condition_to_id = d_conditions.set_index('condition')['condition_id'].to_dict()

# Assuming df is already defined
f_products = pd.DataFrame({
    'product_id': df['uniq_id'],
    'category_id': df['Category'].map(category_to_id),
    'product_name' : df['product_name'],
    'average_rating': df['average_review_rating'],
    'description': df['description'],
    'country_id': df['country_id'],
    'price': df['price'],
    'ship_date': df['ship_date'].apply(lambda x: convert_to_timestamp(x) if pd.notnull(x) else None),
    'purchase_date': df['purchase_date'].apply(lambda x: convert_to_timestamp(x) if pd.notnull(x) else None),
    'reviews_nb': df['number_of_reviews'],
    'manufacturer_id': df['manufacturer'].map(manufacturer_to_id),
    'nb_stocks': df['quantity'],
    'condition_id': df['condition'].map(condition_to_id),
    'bought_after': df['items_customers_buy_after_viewing_this_item'],
    'sub_category_1': df['Sub_Category'],
    'sub_category_2': df['Sub_Sub_Category'],
    'sub_category_3': df['Sub_Sub_Sub_Category']
})

# Display the DataFrame
print(f_products.head())

                         product_id  category_id  \
0  eac7efa5dbd3d667f26eb3d3ab504464            1
1  b17540ef7e86e461d37f3ae58b7b72ac            1
2  348f344247b0c1a935b1223072ef9d8a            1
3  e12b92dbb8eaee78b22965d2a9bbbd9f            1
4  e33a9adeed5f36840ccc227db4682a36            1

                                        product_name      average_rating  \
0                              Hornby 2014 Catalogue  4.9 out of 5 stars
1  FunkyBuys® Large Christmas Holiday Express Fes...  4.5 out of 5 stars
2  CLASSIC TOY TRAIN SET TRACK CARRIAGES LIGHT EN...  3.9 out of 5 stars
3     HORNBY Coach R4410A BR Hawksworth Corridor 3rd  5.0 out of 5 stars
4  Hornby 00 Gauge 0-4-0 Gildenlow Salt Co. Steam...  4.7 out of 5 stars

                                         description  country_id   price  \
0  Product Description Hornby 2014 Catalogue Box ...           1   £3.42
1  Size Name:Large FunkyBuys® Large Christmas Hol...           1  £16.99
2  BIG CLASSIC TOY TRAIN SET TRACK CARRIAGE LIGHT...           1   £9.99
3  Hornby 00 Gauge BR Hawksworth 3rd Class W 2107...           1  £39.99
4  Product Description Hornby RailRoad 0-4-0 Gild...           1  £32.19

    ship_date purchase_date reviews_nb  manufacturer_id  nb_stocks  \
0  2018-06-14    2018-06-04         15                1          5
1  2022-09-02    2022-08-30          2                2          0
2  2020-08-06    2020-08-04         17                3          2
3  2020-10-30    2020-10-27          1                1          0
4  2018-02-04    2018-02-03          3                1          0

   condition_id                                       bought_after  \
0             1  http://www.amazon.co.uk/Hornby-R8150-Catalogue...
1             2  http://www.amazon.co.uk/Christmas-Holiday-Expr...
2             1  http://www.amazon.co.uk/Train-With-Tracks-Batt...
3             2                                                NaN
4             2  http://www.amazon.co.uk/Hornby-R2672-RailRoad-...

                sub_category_1 sub_category_2 sub_category_3
0  Model Trains & Railway Sets  Rail Vehicles         Trains
1  Model Trains & Railway Sets  Rail Vehicles         Trains
2  Model Trains & Railway Sets  Rail Vehicles         Trains
3  Model Trains & Railway Sets  Rail Vehicles         Trains
4  Model Trains & Railway Sets  Rail Vehicles         Trains

In [1276]:
# Function to extract numeric rating
def extract_rating(rating_str):
    try:
        return float(rating_str.split()[0])
    except:
        return np.nan

# Function to clean price
def clean_price(price_str):
    try:
        return float(price_str.replace('£', '').replace(',', ''))
    except:
        return np.nan

# Correcting data types
f_products['product_id'] = f_products['product_id'].astype(str)
f_products['category_id'] = pd.to_numeric(f_products['category_id'], errors='coerce', downcast='integer')
f_products['product_name'] = f_products['product_name'].astype(str)
f_products['average_rating'] = f_products['average_rating'].apply(extract_rating)
f_products['description'] = f_products['description'].astype(str)
f_products['country_id'] = pd.to_numeric(f_products['country_id'], errors='coerce', downcast='integer')
f_products['price'] = f_products['price'].apply(clean_price)
f_products['ship_date'] = f_products['ship_date']
f_products['purchase_date'] = f_products['purchase_date']
f_products['reviews_nb'] = pd.to_numeric(f_products['reviews_nb'], errors='coerce', downcast='integer')
f_products['manufacturer_id'] = pd.to_numeric(f_products['manufacturer_id'], errors='coerce', downcast='integer')
f_products['nb_stocks'] = pd.to_numeric(f_products['nb_stocks'], errors='coerce', downcast='integer')
f_products['condition_id'] = pd.to_numeric(f_products['condition_id'], errors='coerce', downcast='integer')
f_products['bought_after'] = f_products['bought_after'].astype(str)
f_products['sub_category_1'] = f_products['sub_category_1'].astype(str)
f_products['sub_category_2'] = f_products['sub_category_2'].astype(str)
f_products['sub_category_3'] = f_products['sub_category_3'].astype(str)

f_products['ship_date'] = pd.to_datetime(f_products['ship_date'], format='%Y-%m-%d', errors='coerce')
f_products['purchase_date'] = pd.to_datetime(f_products['purchase_date'], format='%Y-%m-%d', errors='coerce')

# Display the DataFrame with corrected data types
print(f_products.dtypes)

product_id                 object
category_id                  int8
product_name               object
average_rating            float64
description                object
country_id                   int8
price                     float64
ship_date          datetime64[ns]
purchase_date      datetime64[ns]
reviews_nb                float64
manufacturer_id             int16
nb_stocks                    int8
condition_id                 int8
bought_after               object
sub_category_1             object
sub_category_2             object
sub_category_3             object
dtype: object

In [1277]:
duplicate_rows = f_products[f_products.duplicated(['product_id'], keep=False)]
print(duplicate_rows)

Empty DataFrame
Columns: [product_id, category_id, product_name, average_rating, description, country_id, price, ship_date, purchase_date, reviews_nb, manufacturer_id, nb_stocks, condition_id, bought_after, sub_category_1, sub_category_2, sub_category_3]
Index: []

In [1278]:
import os

In [1279]:
import pandas as pd
from sqlalchemy import create_engine

# Database credentials
db_user = 'root'
db_password = ''
db_host = 'localhost'
db_port = 3306
db_name = 'amazon_sales_db'

# Create the database engine
engine = create_engine(f'mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

# Load DataFrame into the MySQL table
d_customers.to_sql('d_customers', con=engine, if_exists='append', index=False)

3247

In [1280]:
d_customers.to_csv(os.path.join('csv', 'd_customers.csv'), index=False)

In [1281]:
d_manufacturers.to_sql('d_manufacturers', con=engine, if_exists='append', index=False)

2651

In [1282]:
d_manufacturers.to_csv(os.path.join('csv', 'd_manufacturers.csv'), index=False)

In [1283]:
d_categories1.to_sql('d_categories', con=engine, if_exists="append", index=False)

44

In [1284]:
d_categories1.to_csv(os.path.join('csv', 'd_categories.csv'), index=False)

In [1285]:
d_countries.to_sql('d_countries', con=engine, if_exists="append", index=False)

6

In [1286]:
d_countries.to_csv(os.path.join('csv', 'd_countries.csv'), index=False)

In [1287]:
d_conditions.to_sql('d_conditions', con=engine, if_exists="append", index=False)

5

In [1288]:
d_conditions.to_csv(os.path.join('csv', 'd_conditions.csv'), index=False)

In [1289]:
f_products.to_sql('f_products', con=engine, if_exists="append", index=False)

9999

In [1290]:
f_products.to_csv(os.path.join('csv', 'f_products.csv'), index=False)

In [1291]:
d_questions.to_sql('d_questions', con=engine, if_exists="append", index=False)

1677

In [1292]:
d_questions.to_csv(os.path.join('csv', 'd_questions.csv'), index=False)

In [1293]:
d_reviews1.to_sql('d_reviews', con=engine, if_exists="append", index=False)

9999

In [1294]:
d_reviews1.to_csv(os.path.join('csv', 'd_reviews1.csv'), index=False)